<html>
    <head>
      {{set . "title" "Home"}}
      {{template "header.html" .}}
      <link rel="stylesheet" href="public/css/webix.css" type="text/css" charset="utf-8">
      <script src="public/js/webix.js" type="text/javascript" charset="utf-8"></script>
      
        <script src="public/js/components/main/main.js" type="text/javascript" charset="utf-8"></script>

        <script src="public/js/components/main/view.js" type="text/javascript" charset="utf-8"></script>
        <script src="public/js/components/project/view.js" type="text/javascript" charset="utf-8"></script>
        <script src="public/js/components/task/view.js" type="text/javascript" charset="utf-8"></script>
        <script src="public/js/components/employee/view.js" type="text/javascript" charset="utf-8"></script>
        <script src="public/js/components/group/view.js" type="text/javascript" charset="utf-8"></script>
        <script src="public/js/components/auth/view.js" type="text/javascript" charset="utf-8"></script>

        <script src="public/js/components/main/component.js" type="text/javascript" charset="utf-8"></script>
        <script src="public/js/components/project/component.js" type="text/javascript" charset="utf-8"></script>
        <script src="public/js/components/task/component.js" type="text/javascript" charset="utf-8"></script>
        <script src="public/js/components/employee/component.js" type="text/javascript" charset="utf-8"></script>
        <script src="public/js/components/group/component.js" type="text/javascript" charset="utf-8"></script>
        <script src="public/js/components/auth/component.js" type="text/javascript" charset="utf-8"></script>

        <script src="public/js/components/main/model.js" type="text/javascript" charset="utf-8"></script>
        <script src="public/js/components/project/model.js" type="text/javascript" charset="utf-8"></script>
        <script src="public/js/components/task/model.js" type="text/javascript" charset="utf-8"></script>
        <script src="public/js/components/employee/model.js" type="text/javascript" charset="utf-8"></script>
        <script src="public/js/components/group/model.js" type="text/javascript" charset="utf-8"></script>
        <script src="public/js/components/auth/model.js" type="text/javascript" charset="utf-8"></script>


        <!-- <header class="jumbotron" style="background-color:#A9F16C">
          <div class="container">
            <div class="row">
              <h1>Hello world!</h1>
              <p></p>
            </div>
          </div>
        </header> -->
    </head>

    <body>



        
    </body>  
</html>
